# Go関連ファイル
*.exe
*.exe~
*.dll
*.so
*.dylib

# ビルド成果物
/app/server
/app/server.exe
/app/server.dylib
/app/server.so
/app/server.test

# Docker関連
docker-compose.override.yml
docker-compose.yml
.devcontainer/
*.tar

# 環境変数
.env

# キャッシュ
/.vscode/
*.log
**/node_modules/
*.tmp

# IDEやエディタの設定
.idea/
*.iml
.vscode/
.DS_Store

# Git関連
*.swp
*.bak
*.tmp
